.left {
  width: 200px;
  height: 100%;
  background-color: #2aabd2;
  position: fixed;
  top: 0;
  bottom: 0;
}
.left .profile .img-container {
  width: 80px;
  height: 80px;
  margin: 30px auto 10px;
}
.right {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  height: 100%;
}
.right .panel-top {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.right .panel-top a {
  line-height: 34px;
  text-decoration: none;
  cursor: pointer;
}
.right .panel-content {
  margin: 0 10px;
  margin-top: 80px;
}
.right .panel-content .breadcrumb {
  width: 100%;
}
.right .panel-content .row {
  width: 100%;
}
.right .panel-content .row button {
  margin-bottom: 20px;
}
.right .panel-content .panel-body .table .tr-height td {
  line-height: 30px;
  height: 30px;
}
