// 左边控制面板
.left {
    width: 200px;
    height: 100%;
    background-color: #2aabd2;
    position: absolute;
    top: 0;
    bottom: 0;
    // 个人信息
    .profile {
        // 个人头像
        .img-container {
            width: 80px;
            height: 80px;
            margin: 30px auto 10px;
        }
    }
}
// 右边编辑面板
.right {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    background-color: lightpink;
    min-height: 800px;
    // 顶部面板
    .panel-top {
        a {
            line-height: 34px;
            text-decoration: none;
            cursor: pointer;
            color: gray;
        }
    }
}